* {
    backface-visibility: hidden;
}
button:link,
button:visited {

    text-transform: uppercase;
    /* gets ride of default underline of link */
    text-decoration: none;
    padding: 15px 40px;
    /* always do this if using block and want to give padding to element */
    display: inline-block;
    border-radius: 100px;
    /* gives animation to all subclasses - always(?) do in initial state */
    transition: all .2s;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
}
 /* button:hover { */
    /* top is negative, bottom is positive on y axis */
    /* transform: translateY(-2px); */
    /* box-shadow: 0 5px 10px rgb(0,0,0,.2); */
/* } */



/* button:active { */
    /* in relation to initial state, not any other state */
    /* transform: translateY(-1px); */
    /* box-shadow: 0 5px 7px rgb(0,0,0,.2); */
/* } */

