.fooooter {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    background: #343a40;
    height: min-content;
    width: 100%;
    margin-top: auto;
    align-items: center;
    padding: 1%;
}

.logo-footer {

  height: 40px;
}

.text-footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.email-footer {
  display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(201, 201, 201);
    width: 25%;
}

.email-footer:hover {
color: white;
}

.email1 {
  color: rgb(201, 201, 201);
  font-size: 13px;
}

.image-footer {
  width: 25%;
  display: flex;
    justify-content: center;
}

.logo-reseau1 {
  width: 50%;
    display: flex;
    justify-content: space-around;
}

.svg-icon1 {
  height: 20px;
  fill: #25B8C5;
  transition: 2s;
}

.svg-icon1:hover {
  fill: rgb(255, 255, 255) ;
  transition: 2s;
}