.container-md{
    margin-top: 2% !important;
}

p{
    text-align: justify;
}
.glider{
    overflow: hidden;
}

#carteJS{
    height: 500px;
    margin-top: 1rem !important;
}

.glider{

    overflow: hidden;

}

.container{
    margin-top: 15px !important;
}

.slider-wrap > h1{
    font-size: 2em;
    margin-bottom: 25px;
}
.dropdown-item:hover {
    color: #25b8c5 !important;
}

.nav-link.active:hover {
    color: #25b8c5 !important;
}

.dropdown-menu {
    color: white !important;
    background-color: white !important;
}

.fade.show {
    opacity: 0.8 !important;
}


.list-group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2%;
    padding-left: 0;
    margin-bottom: 0;
}

.Desc_accueil {

    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;
}

.col-8 {
    align-self: center;
}

.festivals > img{
    width: 150px;
    height: 130px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.festivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw !important;
    padding-right: 10px;
    padding-left: 10px;
    /* height: auto !important; */
    margin-left: 80px !important;
    margin-right: 80px !important;
    border-radius: 10px;
    background-color:#343a40 ;
}

.festival_Text {
    color: white;
}

.slider-wrap{

    margin-left: 7% ;
    margin-right: 7% !important;
    /* background-color:#343a40 ; */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.glider-track{

    width: 0 !important;
}

.partenaires{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
    margin-top: 5%;

}

.images_partenaires{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.partenaires > h1{
    align-items: initial;
}

.images_partenaires > img{
    height: 100px;
    width: auto;
}

.logo_tlsM{

    height: 60px !important;
}

.logo_CM{
    height: 60px !important;

}

.imgConcert {
    width: 250px;
    height: 250px;
    margin-right: 15px;
}

.containerConcert {
    margin: 25px;
    padding: 15px;
    height: 300px
}

@media screen and (max-width: 800px) {

    .images_partenaires{
        flex-direction: column;
    }

    .images_partenaires > img{
        margin-bottom: 2%;
    }

    h1{
        text-align: center;
    }

    .imgConcert {
        width: 200px;
        height: 200px;
    }

    .pConcert {
        font-size: 12px;
    }

    .h3Concert {
        font-size: 20px;
    }

    .h5Concert {
        font-size: 16px;
    }

    .containerConcert {
        margin: 20px;
        padding: 15px;
        height: 250px
    }
}

@media screen and (max-width: 500px) {
    .containerConcert {
        flex-direction: column;
        align-items: center;
        height: 500px;
        margin: 10px 0 10px 0;
    }

    .imgConcert {
        margin-bottom: 10px;
    }
}


