.bg {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  animation: AnimateBG 20s ease infinite;
}

#table_user {
  background-color: rgb(41, 41, 41);
}

#text-titre {
  font-size: 4.5rem;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

#glass {
  /* From https://css.glass */
  background: rgb(255, 255, 255);
  border-radius: 5px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(143, 143, 143, 0.57);

  /* -webkit-box-shadow: 13px 5px 32px 5px rgba(0,0,0,0.54);  */
  /* box-shadow: 13px 5px 32px 5px rgba(0,0,0,0.54); */
  margin-bottom: 100px;
  color: black;
}

#glass1 {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.57);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  border-radius: 10px;
}

.buttoonf {
  color: rgb(255, 255, 255);
  background-color: #25b8c5;
  transition: ease-in-out 1s;
  border: solid 0px rgb(122, 122, 122);
  margin: 3%;
  border-radius: 15px;
}

.alert-link {
  margin: 20px;
}

tr {
  background-color: rgba(87, 213, 252, 0.57) !important;
  color: white !important;
  border-radius: 15px;
}

.table-bordered td,
.table-bordered th {
  border: 0px !important;
}

#table_user {
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.supr {
  color: rgb(255, 0, 0);
  background-color: rgb(34, 34, 34);
  border: 2px red solid;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  transition: ease-in-out 1s;
}

.supr:hover {
  color: rgb(255, 255, 255);
  transition: ease-in-out 1s;
  border: 2px rgb(255, 255, 255) solid;
  padding: 7px;
}

/* .foooter { */
/* width: 100%; */
/* height: 50px; */
/* background-color: red; */
/* position: absolute; */
/* } */

.espace {
  height: 100px;
  width: 100%;
}

.display-2 {
  font-weight: 500;
  font-size: 170%;
}

.contenu1 {
  margin: 20px;
}

#bandeaufou {
  width: 100%;
  background: #343a40;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.buttoond {
  color: rgb(255, 255, 255);
  background-color: #25b8c5;
  transition: ease-in-out 1s;
  border: solid 0px rgb(122, 122, 122);
  
  border-radius: 15px;

  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;

}

.boxbut {
  cursor: pointer;
}

.backButton {
  color: rgb(255, 255, 255);
  background-color: #25b8c5;
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  margin-bottom: 20px;
  cursor: pointer;
}

.backButton:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 800px) {


   .contenu1 {
    margin: 0px !important;
  }

  .area1 {
    width: 250px !important;
  }

    .email1 {
    font-size: 5px !important;
    display: none;
  }  

  .logo-footer {
    height: 20px !important;
  }

  .logo-reseau1 {
    width: 150% !important;
  }

  .fooooter {
    height: 50px !important;
  }
}
